.thanks {
  position: relative;
  height: 100vh;
  background: #fff;
}

.thanks__inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.thanks__message {
  font-size: 16px;
  color: #8F8578;
  margin-bottom: 30px;
}

.thanks__button {
  display: inline-block;
  padding: 10px 30px;
  background: #8F8578;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}

.thanks::before {
  content: "Thank you";
  position: absolute;
  font-size: 120px;
  color: rgba(0, 0, 0, 0.03);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}