.auth__card {
  width: 420px;
  background: white;
  padding: 40px 50px;
  border-radius: 6px;
  color: #8F8578;
}

.auth__title h2 {
  color: #8F8578;
  font-size: 30px;
}

auth__label .header__inner {
  position: relative;
}

.header__nav a {
  position: absolute;
  right: 20px;
  top: 28px;
  font-size: 12px;
  text-decoration: none;
  border: 1px solid #d6cfc7;
  padding: 6px 14px;
  color: #b5a89b;
  background: #f8f6f3;
}

.auth {
  background: #f6f4ef;
  min-height: calc(100vh - 90px);
  padding: 30px 0 60px;
}

.auth__card {
  background: #fff;
  width: 480px;
  margin: 0 auto;
  padding: 40px 50px 45px;
  border-radius: 6px;
}

.auth__title {
  text-align: center;
  font-size: 20px;
  color: #8F8578;
  margin-bottom: 25px;
}

.auth__label {
  display: block;
  text-align: left;
  font-size: 18px;
  margin-bottom: 6px;
  color: #8F8578;
}

.auth__input {
  width: 100%;
  height: 38px;
  padding: 8px 10px;
  margin-bottom: 30px;
  border: none;
  background: #f5f4f4;
}

input {
  color: #000;
}

input::placeholder {
  color: #aea293;
}

.auth__button {
  text-align: center;
}

.auth__button-submit {
  width: 90px;
  height: 35px;
  background: #8F8578;
  color: white;
  border: none;
  font-size: 16px;
}

.auth__error {
  color: red;
  font-size: 14px;
  margin-top: 6px;
  text-align: left;
}