html,
body {
  font-family: "Noto Serif JP", serif;
}

.header {
  border-bottom: 1px solid lightgray;
}

.header__inner {
  margin: 0 auto;
  text-align: center;
  padding: 20px 15px;
  max-width: 1230px;
}

.header__logo {
  color: #8F8578;
  margin: 0 auto;
  text-decoration: none;
  font-weight: bold;
  font-size: 40px;
}