/* base */
@import url('./base/reset.css');
@import url('./base/variables.css');
@import url('./base/common.css');

/* layout */
@import url('./layouts/header.css');
@import url('./layouts/footer.css');

/* pages */
@import url('./contact/index.css');
@import url('./contact/confirm.css');
@import url('./contact/thanks.css');
@import url('./auth/login.css');
@import url('./auth/register.css');
@import url('./admin/index.css');
@import url('./admin/delete.css');